.place{
  width: 40px;
  padding: 20px;
  border: 1px solid blue;
  background: red;
  color: yellow;
}

.google-map-wrapper {
  width: 100%;
  height: 30em;
}

.results-table-wrapper {
  margin: 50px;

}

.search-form-wrapper {
  
}

.neighborhood-label {
  text-align: center;
}

.day-label {
  text-align: center;
}

.form-button {
  align-items: center;
}
