body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f3eb;

}

.ui.table, body {
  color: #232f3d;
}

.ui.table thead th {
  background: #8FA3A8;
  color: #fff;
}

.column {
  box-shadow: none !important;
}

.current-location-loader {
  
}

/************* MENU *************/

.ui.menu {
  background: #232f3d;
  border-radius: 0;
}

a.home-link {
  color: rgb(238, 84, 30);
  font-size: 36px;
  font-weight: 100;
}

.google-map-wrapper {
  width: 100%;
  height: 30em;
}

.place{
  width: 40px;
  padding: 20px;
  border: 1px solid blue;
  background: red;
  color: yellow;
}

.results-table-wrapper {
}

/************ SEARCH FORM   ****************/

.neighborhood-label {
  text-align: center;
}

.day-label {
  text-align: center;

}

.form-button-wrapper {
  text-align: center;
}

.ui.button.form-button {
  background: #5e818e;
  color: #d3dadd;
}

.search-by-name-div {
  text-align: center;
  margin-bottom: 8px;
}

.four.wide.column.column-with-search-and-add {
    padding: 0;
}

.twelve.wide.column {
    padding: 0;
}

.ui.button.search-by-name-button {
  background: #5e818e;
  color: #d3dadd;
}

.ui.button.add-new-listing-button {
  background: #232f3d;
  width: 75%;
  margin-top: 24px;
}

.add-new-button-wrapper {
    text-align: center;
}

.add-new-listing-a {
  color: #d3dadd;
}

.ui.card.search-form-card-wrapper {
  margin: auto;
}

.ui.card.add-new-listing-card {
  justify-content: center;
  align-items: center;
}

.four.wide.column.column-with-search-and- {
  display: flex;
}

@media (min-width: 768px) {

}

.four.wide.column {
  display: flex;
}

/***** VENUES LIST *****/

a.venue-names-links {
  color: #5e818e;
}

/***** Map markers *****/


.pin1 {
  position: absolute;
  top: 40%;
  left: 50%;
  border-radius: 50% 50% 50% 0;
  border: 3px solid #5e818e;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);

}

.pin1::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  background-color: rgb(238, 84, 30);
}

.marker-wrapper {
  padding: 25px;
  background: #fff;
  width: 185px;
}

.popup-wrapper {
  text-align: center;
}

.popup-header {
  text-align: center;
}

a.popup-header-link {
  color: #5e818e;
}

/***** EDIT FORM *****/

.edit-form-heading {
  text-align: center;
  color: #8fa3a8;
}

.add-form-heading {
  text-align: center;
  color: #8fa3a8;
}

.venue-info-wrapper {
  text-align: center;
}

.ui.grid.venue-specials-table-wrapper {
  margin-top: 32px;
}

.ui.button.edit-listing-button {
  background: #5e818e;
  margin-bottom: 16px;
}

button.ui.button {
    background: #5e818e;
    color: #d3dadd;
}

a.edit-new-listing-a {
  color: #d3dadd;
}

/* Comment */
.display-comment-div {

}

h3.ui.dividing.header {
    color: #5e818e;
}

button.ui.icon.primary.left.labeled.button {
    background: #5e818e;
    color: #d3dadd;
}

.ui.comments {
  margin: auto;
  padding-top: 24px;

}

.content {
  padding: 16px;
}

.text {
  padding-top: 8px;
}
