body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f3f0df;
  color: #222626;
}

/************* MENU *************/

.ui.menu {
  background: #222626;
  border-radius: 0;
}

a.home-link {
  color: #F8BE00;
  font-family: 'Shrikhand', cursive;
  font-size: 36px;
}

.google-map-wrapper {
  width: 100%;
  height: 30em;
}

.place{
  width: 40px;
  padding: 20px;
  border: 1px solid blue;
  background: red;
  color: yellow;
}

.results-table-wrapper {
}

/************ SEARCH FORM   ****************/

.neighborhood-label {
  text-align: center;
}

.day-label {
  text-align: center;

}

.form-button-wrapper {
  text-align: center;
}

.ui.button.form-button {
  background: #0C618D;
  color: #f3f0df;
}

.search-by-name-div {
  text-align: center;
  margin-bottom: 8px;
}

.ui.button.search-by-name-button {
  background: #0C618D;
  color: #f3f0df;
}

.ui.button.add-new-listing-button {
  background: #00b17c;
  width: 75%;
  margin-top: 24px;
}

.add-new-button-wrapper {
    text-align: center;
}

.add-new-listing-a {
  color: #f3f0df;
}

.ui.card.search-form-card-wrapper {
  margin: auto;
}

.ui.card.add-new-listing-card {
  justify-content: center;
  align-items: center;
}

.four.wide.column.column-with-search-and- {
  display: flex;
}

@media (min-width: 768px) {

}

.four.wide.column {
  display: flex;
}

/***** VENUES LIST *****/

a.venue-names-links {
  color: #0C618D;
}

/***** Map markers *****/
.pin1 {
  position: absolute;
  top: 40%;
  left: 50%;
  border-radius: 50% 50% 50% 0;
  border: 3px solid #00B17C;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);

}

.pin1::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  background-color: #F88E00;
}

.marker-wrapper {
  padding: 25px;
  background: #fff;
  width: 185px;
}

.popup-wrapper {
  text-align: center;
}

.popup-header {
  text-align: center;
}

a.popup-header-link {
  color: #00b17c;
}

/***** EDIT FORM *****/

.edit-form-heading {
  text-align: center;
  color: #00b17c;
}

.add-form-heading {
  text-align: center;
  color: #00b17c;
}

.venue-info-wrapper {
  text-align: center;
}

.ui.button.edit-listing-button {
  background: #00b17c;
}

a.edit-new-listing-a {
  color: #f3f0df;
}

/* Comment */
.display-comment-div {

}

.ui.comments {
  margin: auto;
  padding-top: 24px;

}

.content {
  padding: 16px;
}

.text {
  padding-top: 8px;
}
